@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffe3a3;
}

/* .custom-popup {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: bold;
  color: #333;
}*/

.mapboxgl-popup-content {
  max-height: 300px;
  overflow-y: auto;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #008080;
  bottom: -10px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-content,
.mapboxgl-popup-anchor-top .mapboxgl-popup-content {
  padding-bottom: 10px;
}

.mapboxgl-popup-anchor-bottom .mapboxgl-popup-content {
  margin-bottom: 0;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
  top: -10px;
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-content {
  margin-top: 0;
}

.mapboxgl-popup {
  z-index: 9999;
}

.navigation-control {
  position: absolute;
  top: 120px;
  right: 120px;
  z-index: 100;
}

/* Define the animation */
@keyframes shimmer {
  0% {
    background-position: -100px 0;
  }
  100% {
    background-position: 100px 0;
  }
}

/* Apply the animation to the icon */
.icon {
  /* background: linear-gradient(to right, #0d1025 30%, #21295c 50%, #141937 70%); */
  background-size: 700px 100%;
  animation: shimmer 10s infinite;
}

/* Define the animation */
@keyframes blink {
  0% {
    opacity: 0.9;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.8;
  }
}

/* Apply the animation to the label */
.label {
  animation: blink 5s ease-in-out infinite;
}


