@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
}

/* ::-webkit-scrollbar {
  width: 10px;
} */

/* Track */
/* ::-webkit-scrollbar-track {
  background: #7a7f9d;
} */

/* Handle */
/* ::-webkit-scrollbar-thumb {
  background: #21295c;
} */

/* Handle on Hover */
/* ::-webkit-scrollbar-track:hover {
  background: #21295c;
} */
.custom-popup {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.marker {
  color: red;
}
